.FavList {
    box-sizing: border-box;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.FavList ul {
    display: inline;
}

.FavList li {
    text-align: center;
    margin: 12px auto auto auto;
    font-weight: 600;
    color: #191ba9;
}

.FavList img {
    margin-left: -40px;
}

.FavList button {
    display: block;
    width: 100px;
    height: 44px;
    border-style: none;
    background-color: #c1eaf2;
    font-size: 14px;
    color: #191ba9;
    border-radius: 8px;
    margin: 12px auto;
}