.FavList {
    /* background-color: red; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.FavList li {
    /* text-align: center; */
    align-items: center;
    margin-top: 12px;
    margin-left: -24px;
    margin-right: auto;
    font-weight: 600;
    color: #191ba9;
}

.FavList img {
    margin-left: -40px;
}

.FavList button {
    width: 100px;
    height: 44px;
    border-style: none;
    background-color: #c1eaf2;
    font-size: 14px;
    display: block;
    text-align: center;
    color: #191ba9;
    border-radius: 8px;
    margin: 12px auto;
}