.FavList {
    position: fixed;
    width: 300px;
    max-width: 80%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: gray;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

@media(min-width: 500px) {
    .FavList {
        display: none
    }
}

.Open {
    transform: translateX(0)
}

.Close {
    transform: translateX(-100%)
}